@use 'variables' as *;

body {
	font-family: 'Roboto', sans-serif;
	background-color: $body-color;
	font-size: 16px;
}

section {
    padding: 40px 0;
}

a {
	text-decoration: none;
	color: $theme-color;
}

button:focus,
button:active {
	outline: none!important;
	box-shadow: none!important;
}

// Background Colors
.bg-white {
	background-color: #fff;
}

.bg-trans {
	background-color: $color-trans;
}

// Button Styles
.theme-btn {
	background-color: $theme-color;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
	border: 1px solid $theme-color;
	padding: 10px;
}

.theme-btn:hover,
.theme-btn:focus,
.theme-btn:active {
	background-color: $theme-color!important;
	color: #fff!important;
	border: 1px solid $theme-color!important;
}

.theme-btn-outline {
	background-color: transparent;
    color: $theme-color;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
	border: 1px solid $theme-color;
}

.theme-btn-outline:hover,
.theme-btn-outline:focus,
.theme-btn-outline:active {
	background-color: transparent;
	border: 1px solid $theme-color!important;
}

// Form Styles
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
	padding: 10px;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
	border: 1px solid $theme-color-alt;
	box-shadow: none;
}