@use 'variables' as *;

// Header Start
.header-area {
    padding: 0;
    border-bottom: 1px solid $border-color;
}

.header-area .navbar {
    padding: 12px 0;
}

.header-area .toggle-btn {
    font-size: 30px;
    padding: 0;
    margin-right: 15px;
}

.header-area .toggle-btn:active,
.header-area .toggle-btn:focus {
    border: 1px solid transparent;
}

.header-area .toggle-btn i {
    color: $theme-color;
}

.header-area .navbar-nav .nav-link {
    font-weight: 500;
    color: $text-color;
    font-size: 16px;
}

.header-area .navbar-nav-middle .nav-link {
    padding-right: 50px;
    padding-left: 50px;
}

.header-area .navbar-nav-middle .nav-link.active {
    color: $theme-color-alt;
}

.header-area .navbar-nav-right .nav-link.active {
    background-color: $theme-color-alt;
    color: #fff;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
}

.header-area .justify-content-end .nav-link.active {
    background-color: $theme-color-alt;
    color: #fff;
}
// Header End

// Logged In Nav Start
.navbar-nav-logged-in .nav-link {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.navbar-nav-logged-in ul.dropdown-menu {
    padding: 0;
    overflow: hidden;
}

.navbar-nav-logged-in ul.dropdown-menu .dropdown-item {
    white-space: inherit;
    transition: all 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    font-size: 15px;
}

.navbar-nav-logged-in ul.dropdown-menu .dropdown-item:hover {
    background-color: $theme-color-alt;
    color: #fff;
}

.nav-item-notification ul.dropdown-menu {
    width: 350px;
}

.navbar-nav-logged-in .nav-item-user-profile .nav-link {
    padding-right: 0!important;
}

.navbar-nav-logged-in .nav-item-user-profile > a {
    padding: 0;
}

.navbar-nav-logged-in .nav-item-user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
// Logged In Nav End

// Search Start
.search-area {
    padding: 20px 0;
    border-bottom: 1px solid $border-color;
}

.search-area .form-control {
    width: 300px;
}

.search-area .form-control:focus {
    box-shadow: none;
    border: 1px solid $border-color;
}
// Search End