// Theme Colors
$body-color 		    : #f2f3f5;
$theme-color 			: #021D38;
$theme-color-alt 		: #FF5533;

// General Colors
$color-trans 			: transparent;

// Text Colors
$text-color 			: #3c4043;
$title-color 		    : #202125;

// Border Colors
$border-color           : rgba(0, 0, 0, 0.175);