// Theme Colors
$body-color 		    : #f2f3f5;
$theme-color 			: #15202b;
$theme-color-alt 		: #3041D9;

// General Colors
$color-trans 			: transparent;

// Text Colors
$text-color 			: #3c4043;
$text-white 			: #FFFFFF;
$title-color 		    : #202125;

// Border Colors
$border-color           : rgba(0, 0, 0, 0.175);