body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f3f5;
  font-size: 16px;
}

section {
  padding: 40px 0;
}

a {
  text-decoration: none;
  color: #021D38;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.bg-white {
  background-color: #fff;
}

.bg-trans {
  background-color: transparent;
}

.theme-btn {
  background-color: #021D38;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
  border: 1px solid #021D38;
}

.theme-btn:hover,
.theme-btn:focus,
.theme-btn:active {
  background-color: #021D38 !important;
  color: #fff !important;
  border: 1px solid #021D38 !important;
}

.theme-btn-outline {
  background-color: transparent;
  color: #021D38;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
  border: 1px solid #021D38;
}

.theme-btn-outline:hover,
.theme-btn-outline:focus,
.theme-btn-outline:active {
  background-color: transparent;
  border: 1px solid #021D38 !important;
}

.header-area {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.header-area .navbar {
  padding: 12px 0;
}

.header-area .toggle-btn {
  font-size: 30px;
  padding: 0;
  margin-right: 15px;
}

.header-area .toggle-btn:active,
.header-area .toggle-btn:focus {
  border: 1px solid transparent;
}

.header-area .toggle-btn i {
  color: #021D38;
}

.header-area .navbar-nav .nav-link {
  font-weight: 500;
  color: #3c4043;
  font-size: 16px;
}

.header-area .navbar-nav-middle .nav-link {
  padding-right: 50px;
  padding-left: 50px;
}

.header-area .navbar-nav-middle .nav-link.active {
  color: #FF5533;
}

.header-area .navbar-nav-right .nav-link.active {
  background-color: #FF5533;
  color: #fff;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
}

.header-area .justify-content-end .nav-link.active {
  background-color: #FF5533;
  color: #fff;
}

.navbar-nav-logged-in .nav-link {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-nav-logged-in ul.dropdown-menu {
  padding: 0;
  overflow: hidden;
}

.navbar-nav-logged-in ul.dropdown-menu .dropdown-item {
  white-space: inherit;
  transition: all 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  font-size: 15px;
}

.navbar-nav-logged-in ul.dropdown-menu .dropdown-item:hover {
  background-color: #FF5533;
  color: #fff;
}

.nav-item-notification ul.dropdown-menu {
  width: 350px;
}

.navbar-nav-logged-in .nav-item-user-profile .nav-link {
  padding-right: 0 !important;
}

.navbar-nav-logged-in .nav-item-user-profile > a {
  padding: 0;
}

.navbar-nav-logged-in .nav-item-user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.search-area {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.search-area .form-control {
  width: 300px;
}

.search-area .form-control:focus {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.nav-job-search-saved .nav-link {
  color: #202125;
  font-weight: 500;
}

.nav-job-search-saved .nav-link:first-child {
  padding-left: 0;
  margin-right: 20px;
}

.nav-job-search-saved .nav-link.active {
  color: #FF5533;
}

.btn-jobs-settings {
  padding-right: 0;
  border: none;
  font-size: 20px;
  color: #3c4043;
}

.job-ads,
.job-filters {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.filter-box {
  margin-bottom: 20px;
}

.btn-save-search {
  padding: 0;
  padding-right: 0;
  border: none;
}

.accordion-jobs-filter .accordion-item {
  margin-bottom: 15px;
  border: none;
}

.accordion-jobs-filter .accordion-button {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #202125;
  font-weight: 500;
}

.accordion-jobs-filter .accordion-button::after {
  display: none;
}

.accordion-jobs-filter .accordion-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.accordion-jobs-filter .form-check {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #3c4043;
}

.accordion-jobs-filter .form-check:last-child {
  margin-bottom: 0;
}

.accordion-jobs-filter .form-check-input:checked {
  background-color: #FF5533;
  border: #FF5533;
}

.filter-box .btn-filter-reset {
  padding-left: 0;
  font-weight: 500;
  border: none;
}

.jobs-sort-filter {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  padding-top: 5px;
  padding-bottom: 5px;
}

.jobs-sort-filter .nav-link {
  color: #3c4043;
}

.jobs-sort-filter .nav-filter-btn {
  border: 2px solid #FF5533;
  border-radius: 5px;
  color: #FF5533 !important;
  font-weight: 500;
}

.job-search-result .card {
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.job-search-result .card:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  left: -4px;
  top: 0;
  background-color: #FF5533;
  transition: all 0.15s;
}

.job-search-result .card:hover:after {
  left: 0;
}

.job-search-result .card-body {
  padding: 0;
}

.job-search-result .card-body:hover .card-text {
  color: #3c4043;
}

.job-search-result .card-body .card-title {
  font-size: 18px;
  color: #021D38;
  font-weight: 500;
}

.job-search-result .card-body .card-sub-title {
  font-size: 14px;
  font-weight: 500;
  color: #021D38;
}

.job-search-result .card-body .card-text {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 400;
}

.job-search-result .card-body .card-text .text-muted {
  font-size: 12px;
}

.job-search-result .card-body .btn-experience {
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.175);
}

.job-search-result .card-body .btn-experience:hover {
  color: #3c4043;
}

.job-search-result .nav-save-report .nav-link {
  padding: 0;
  color: #3c4043;
}

.job-search-result .nav-link-save {
  margin-right: 5px;
}

.job-search-result .nav-save-report .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.job-search-result .nav-save-report .dropdown-menu .dropdown-item {
  padding: 7px 10px;
  border-radius: 3px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.175);
  color: #3c4043;
}

.job-search-result .nav-save-report .dropdown-menu .dropdown-item:hover {
  background-color: #fff;
}

.footer-area {
  background-color: #021D38;
}

.footer-top p {
  color: #ddd;
  font-size: 14px;
}

.footer-top h3 {
  color: #ddd;
  font-size: 25px;
}

.footer-nav .nav-link {
  color: #ddd;
  font-size: 14px;
}

.mobile-footer-nav {
  padding: 25px 0;
}

.mobile-footer-nav .nav {
  box-shadow: rgba(0, 0, 0, 0.12) 0px -3px 14px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.mobile-footer-nav .nav-pills .nav-link {
  color: #3c4043;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2px;
}

.mobile-footer-nav .nav-pills .nav-link i {
  font-size: 18px;
}

.mobile-footer-nav .nav-pills .nav-link.active {
  background-color: transparent;
  color: #FF5533;
}

@media (max-width: 991px) {
  .jobs-sort-filter {
    background-color: transparent;
    border: none;
  }
  .jobs-sort-filter a.nav-link.dropdown-toggle {
    padding-left: 0;
  }
  .job-search-result .card {
    padding: 7px;
    padding-right: 2px;
  }
  section {
    padding: 20px 0;
  }
}
@media (max-width: 575px) {
  .header-area .toggle-btn {
    margin-right: 5px;
  }
  .header-area .header-logo {
    width: 150px;
  }
  .header-area .justify-content-end .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .search-area .form-control {
    width: initial;
  }
}

/*# sourceMappingURL=style.css.map */
